{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% form_theme modal_form 'bootstrap_3_layout.html.twig' %}
<div id="form_multiselect_modal" data-form-name="{{ modal_form.vars.name }}" style="max-height: 175px;overflow-y: auto;">
        {{ form(modal_form) }}
</div>